body{
background:#0f172a;
color:white;
font-family:Segoe UI;
}

.navbar{
padding:10px;
background:#020617;
}

.container{
width:60%;
margin:auto;
padding:20px;
background:#111827;
border-radius:10px;
margin-top:30px;
}

input{
width:90%;
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}

button{
padding:10px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#result{
margin-top:20px;
padding:10px;
background:#0b1220;
}
